# dotenv environment variable files
backend/.env
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local

# Next.js build output
frontend/.next
frontend/out

# Nuxt.js build / generate output
frontend/.nuxt
frontend/dist

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

backend/.venv/
backend/.venv-wsl/
backend/__pycache__/
database/check_register.db
frontend/node_modules/

.vscode/
