backend/.env
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local
backend/.venv/
backend/venv/
backend/.venv-wsl/
backend/__pycache__/
backend/database/

frontend/node_modules/

database/check_register.db

.vscode/
